/* mini slider */
.mini_slider {
	border: 1px solid #8DB6CD;
	position: relative;
}

.mini_slider .slides,
.mini_slider .slides li,
.mini_slider .bullets,
.mini_slider .bullets li {
	display: block;
	list-style: none;	
	margin: 0;
	padding: 0;	
}

.mini_slider .slides,
.mini_slider .bullets {
	position: absolute;
	z-index: 1;
}

.mini_slider .slides li,
.mini_slider .bullets li {
	float: left;
}

.mini_slider .slides img {
	border: 0;
	width: 100%;	
}

.mini_slider .prev,
.mini_slider .next {
	position: absolute;
	width: 25px;
	height: 35px;
	top: 50%;
	text-indent: -9999px;
	background-color: #8DB6CD;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	opacity: 0.85;
	z-index: 2;
}

.mini_slider .prev:hover,
.mini_slider .next:hover {
	opacity: 0.95;
	box-shadow: 0 0 3px rgba(0,0,0,0.9);		
}

.mini_slider .prev {
	left: 0;
	border-radius: 0 50px 50px 0;
}

.mini_slider .next {
	right: 0;
	border-radius: 50px 0 0 50px;	
}

.mini_slider .bullets {
	left: 50%;
	bottom: 0;
	background-color: #8DB6CD;
	padding: 6px 15px;
	border-radius: 15px 15px 0 0;
}

.mini_slider .bullets li a {
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50px;
	margin: 0 7px;
	background-color: #E6E6FA;
	text-decoration: none;
	box-shadow: 0 0 1px rgba(0,0,0,0.7);
}

.mini_slider .bullets li a.active {
	background-color: #f00;
	box-shadow: 0 0 2px rgba(0,0,0,0.7);	
}
